body {
    font-family: 'Martel', serif;
    color: white;
    background-color: steelblue;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(236, 239, 241, 1.0);
  z-index: -1;
}

.big {
    font-family: 'Baloo';
    color: white;
    padding: 0px;
    padding-left: 150px;
    font-size: 72px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.little {
    color: white;
    padding: 0px;
    padding-left: 150px;
    font-size: 18px;
    margin-top: 0px;
    font-family: 'Baloo', sans-serif;
}

.card {
    padding: 8px;
    padding-right: 0;
    padding-left: 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24),0 0 2px rgba(0,0,0,0.12);
    box-sizing: border-box;
    float: left;
    margin-bottom: 24px;
    min-width: 216px;
    height: 195px;
    padding-bottom: 24px;
    position: relative;
    -webkit-transition: box-shadow .5s;
    transition: box-shadow .5s;
}

.card:hover {
    border: 2px solid #2196F3;
    box-shadow: 0 8px 8px rgba(0,0,0,0.24),0 0 8px rgba(0,0,0,0.12);
    text-decoration: none;
}

/*.card header {
    border-bottom: 1px solid #ECEFF1;
    box-sizing: border-box;
    line-height: 48px;
    margin-bottom: 8px;
}*/

.card h2 {
    color: #607D8B;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 8px 0;
    padding: 16px 16px 0 16px;
    text-transform: none;
}

.card:hover h2 {
    color: #2196F3;
    padding: 14px 14px 0 14px;
}

.card p {
    color: #78909C;
    font-size: 13px;
    line-height: 24px;
    padding: 0 16px;
    margin: 0;
}

.card:hover p {
    color: #546E7A;
    padding: 0 14px;
}

.offset-20 {
  margin-left: 20%;
}

.txt {
  color: #607D8B;
  line-height: 32px;
  font-size: 18px;
  padding-bottom: 24px;
}

.cards {
  background-color: white;
  padding-top: 24px;
}

ul.nav-top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav-top li {
    float: right;
    margin: 12px;
    border-radius: 4px;
    background-color: white;

}

ul.nav-top li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

ul.nav-top li a:hover {
    text-decoration: none;
    border-radius: 4px;
    background-color: lightgray;
}

.droplet0 {
    position: absolute;
    top: calc(1050px - 350px);
    left: 14%;
    background-color: lightblue;
    width: 75px;
    height: 75px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 75px;
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
}

.droplet1 {
    position: absolute;
    top: calc(1300px - 350px);
    left: 55px;
    background-color: lightblue;
    width: 75px;
    height: 75px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 75px;
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
}

.droplet2 {
    position: absolute;
    top: calc(1100px - 350px);
    left: 45%;
    background-color: lightblue;
    width: 75px;
    height: 75px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 75px;
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
}

.droplet3 {
    position: absolute;
    top: calc(1400px - 350px);
    left: 30%;
    background-color: lightblue;
    width: 75px;
    height: 75px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 75px;
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
}

.droplet4 {
    position: absolute;
    top: calc(1200px - 350px);
    left: 75%;
    background-color: lightblue;
    width: 75px;
    height: 75px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 75px;
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
}

.droplet5 {
    position: absolute;
    top: calc(1500px - 350px);
    left: 90%;
    background-color: lightblue;
    width: 75px;
    height: 75px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 75px;
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
}

.droplet6 {
    position: absolute;
    top: calc(1000px - 350px);
    left: 85%;
    background-color: lightblue;
    width: 75px;
    height: 75px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 75px;
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
}

.droplet7 {
    position: absolute;
    top: calc(1600px - 350px);
    left: 10%;
    background-color: lightblue;
    width: 75px;
    height: 75px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 75px;
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
}

.droplet8 {
    position: absolute;
    top: calc(1660px - 350px);
    left: 60%;
    background-color: lightblue;
    width: 75px;
    height: 75px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 75px;
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
}
