.right {
    background-color: white;
    color: black;
}

#sandbox-wrapper {
    width: 100%;
    height: 100%;
}

.files {
	padding: 18px;
	height: 8%;
	overflow-x: scroll;
	overflow-y: hidden;
}

/*.files::-webkit-scrollbar {
	background-color: white;
}

.files::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/


#editor {
	height: 92%;
}